html,
body,
#ViewDiv{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 50px;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    
}

        

        /* Panel for Widgets */
        .panel {
            position: fixed;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            width: 20%;
            background: white;
            padding-bottom: 15px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            display: none;
            z-index: 1000;
        }

        .panel-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            padding: 10px;
            position: sticky;
            top: 0;
            z-index: 10;
            border-bottom: 1px solid #ddd;
        }
        .panel-header h3 {
            margin: 0;
        }

        .close-btn {
            background: red;
            color: white;
            border: none;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .panel-content {
            max-height: 300px;
            overflow-y: auto;
            padding: 10px;
        }

        /* Custom Scrollbar */
        .panel-content::-webkit-scrollbar {
            width: 8px;
        }

        .panel-content::-webkit-scrollbar-track {
            background: #f1f1f1;
            
        }

        .panel-content::-webkit-scrollbar-thumb {
            background: #888;
         
        }

        .panel-content::-webkit-scrollbar-thumb:hover {
            background: #555;
        }